 <!-- javascript_pack_tag 'home_screen', defer: true %> -->
<% content_for :meta_title, "Plan all tour trips on Plan-et" %>
<% content_for :meta_description, "Create, manage and share your travel trip itineraries from around the world." %>
<% content_for :meta_image, cl_image_path("travel.jpg") %>


  <div class="hero-image">
    <div class="hero-text container">
      <h1 class="ml2" style="font-size: 60px;">You dreamt it...now Plan-et!</h1>
      </br>

      <div class="card-container-search">
          <%= form_tag root_path, method: :get, remote: true, class: "form-inline md-form search-form" do %>
            <%= text_field_tag :search, params[:search], placeholder: "find awesome trips ...", class: "form-control mr-sm-2", style: "flex-grow: 1;" %>
            <%= submit_tag "search", class: "btn btn-primary"%>
          <% end %>
        <%= link_to "Plan your trip!", new_trip_path, class: "plan-btn", id: "plan_trip_button" %>
      </div>

      </br>
      <h4 style="font-size: 20px;">Create, manage and share your travel itineraries from around the world.</h4>
    </div>
</div>


<div class="trip-card-container">
  <% @trips.each do |trip| %>

    <%= link_to trip_path(trip) do %>
      <div class="card d-flex m-2 fadeUp">
        <%= cl_image_tag trip.photos.first.key, height: 250, width: 370, crop: :fill, class: "trip-img"%>
        <div class="card-img-overlay">
          <h5 class="trip-card-text link-text"><%= trip.name %></h5>
          <h5 class="trip-card-text">by <%= trip.user.name%></h5>
        </div>
      </div>
    <% end %>

  <%end%>
</div>

