 <!-- javascript_pack_tag 'home_screen', defer: true %> -->
<% content_for :meta_title, "Plan all tour trips on Plan-et" %>
<% content_for :meta_description, "Create, manage and share your travel trip itineraries from around the world." %>
<% content_for :meta_image, cl_image_path("travel.jpg") %>


  <div class="hero-image">
    <div class="hero-text">
      <h1>You dream it...now Plan-et!</h1>
      </br>
      <div class="card-container-search">
        <div class="align-items-center" id="search-bar">
          <%= form_tag root_path, method: :get do %>
          <%= text_field_tag :search, params[:search], placeholder: "Explore other people's trips to find inspiration for your own ones...", class:"form-control", id:"search-bar" %>
        </div>
        <div>
          <%= submit_tag "Search", class: "btn btn-light mr-4", id: "search_button"%>
        </div>
        <div>
        <%= link_to "Plan Your Trip!", new_trip_path, class: "btn btn-info" %>
        </div>
          <% end %>
      </div>
    </br>
      <h4>Create, manage and share your travel itineraries from around the world.</h4>
    </div>
</div>


<div class="trip-card-container">
  <% @trips.each do |trip| %>
  <div class="card d-flex m-3">
    <% if trip.photos.empty? %>
      <h3>No Image</h3>
    <% else %>
      <%= cl_image_tag trip.photos.first.key, height: 200, width: 300, crop: :fill, class: "trip-img"%>
    <% end %>
    <div class="card-img-overlay">
      <h5 class="trip-card-text"><%= link_to "#{trip.name}", trip_path(trip), class: "link-text"%></h5>
    </div>
  </div>
  <%end%>
</div>

