
  <div class="hero-image">
    <div class="hero-text">
      <h1>You've dreamt it, now Plan-et!</h1>
      <div class="card-container-search">
        <div class="align-items-center">
          <%= form_tag root_path, method: :get do %>
          <%= text_field_tag :search, params[:search], placeholder: "Find existing trips or find inspiration to create your own ones...", class:"form-control" %>
        </div>
        <div>
          <%= submit_tag "Search", class: "search-button"%>
        </div>
          <% end %>
      </div>
    </div>
</div>


  <div class="trip-card-container">
    <% @trips.each do |trip| %>
    <div class="card m-3">
      <%= cl_image_tag trip.photos.first.key, height: 200, width: 300, crop: :fill, class: "trip-img"%>
      <div class="card-img-overlay d-flex flex-wrap justify-content-center">
        <h5 class="trip-card-text"><%= link_to "#{trip.name}", trip_path(trip), class: "text-white"%></h5>
      </div>
    </div>
    <%end%>
  </div>
