<div>
<div class="d-flex flex-row flex-wrap justify-content-around">
  <div class="card border-secondary color-white ml-3 mr-3 mb-3 mt-5">
  <div class= "text-center ml-5 mr-5 mb-3 mt-3">
      <h1>My Trips</h1>
  </div>
   </div>
     </div>


  <h3 class="text-title"> CurrentTrips</h3>
  <div class="d-flex flex-row justify-content-start ">

 <div class="card-container ml-5 mb-4">
   <% @trips.each do |trip| %>
    <%if trip.end_date >= Date.today and trip.start_date <= Date.today %>
    <div class="card-trip" id="trips">
      <%= cl_image_tag trip.photos.first.key, height: 100, width: 100, class: "rounded-circle mb-3"%>
     <div>
      <div class="card-text">
        <h5><%= link_to "#{trip.name}", trip_path(trip), class: "text-reset"%></h5>
          <p><%= trip.start_date%> to <%= trip.end_date%></p>
      </div>
        <%end%>
    <%end%>
  </div>
</div>
</div>
</div>


  <h3 class="text-title">Upcoming Trips</h3>
  <div class="d-flex flex-row justify-content-start ">

 <div class="card-container  ml-5 mb-4">
   <% @trips.each do |trip| %>
    <%if trip.start_date < Date.today %>
    <div class="card-trip" id="trips">
      <%= cl_image_tag trip.photos.first.key, height: 100, width: 100, class: "rounded-circle mb-3"%>
     <div>
      <div class="card-text">
        <h5><%= link_to "#{trip.name}", trip_path(trip), class: "text-reset"%></h5>
          <p><%= trip.start_date%> to <%= trip.end_date%></p>
      </div>
        <%end%>
    <%end%>
  </div>
</div>
</div>
</div>


  <h3 class="text-title">Previous Trips</h3>
 <div class="card-container ml-5 mb-5">
   <% @trips.each do |trip| %>
    <%if trip.start_date > Date.today %>
    <div class="card-trip" id="trips">
      <%= cl_image_tag trip.photos.first.key, height: 100, width: 100, class: "rounded-circle mb-3"%>
     <div>
      <div class="card-text">
        <h5><%= link_to "#{trip.name}", trip_path(trip), class: "text-reset"%></h5>
          <p><%= trip.start_date%> to <%= trip.end_date%></p>
      </div>
        <%end%>
    <%end%>
  </div>
</div>
</div>
 </div>

 </div>
