
  <div class= "hero-image-index">
    <div class="hero-text">
      <h1>My Trips</h1>
    </div>
  </div>

<h4 class="text-title"> CurrentTrip</h4>
<div class="d-flex flex-row justify-content-start align-items-center">
  <% @trips.each do |trip| %>
     <%if trip.end_date >= Date.today and trip.start_date <= Date.today %>
  <%= cl_image_tag trip.photos.first.key, height: 100, width: 100, class: "rounded-circle ml-5 mr-3"%>
    <div class="card-text">
      <h6><%= link_to "#{trip.name}", trip_path(trip), class: "text-reset"%></h6>
      <p><%= trip.start_date.to_time.strftime('%B %e')%> to <%= trip.end_date.strftime('%B %e, %Y')%></p>
    </div>
    <%end%>
    <%end%>
</div>
</div>

<h4 class="text-title">Upcoming Trips</h4>
 <div class="d-flex flex-row justify-content-start align-items-center">
  <% @trips.each do |trip| %>
    <%if trip.start_date < Date.today %>
  <%= cl_image_tag trip.photos.first.key, height: 100, width: 100, class: "rounded-circle ml-5 mr-3"%>
    <div class="card-text">
      <h6><%= link_to "#{trip.name}", trip_path(trip), class: "text-reset"%></h6>
      <p><%= trip.start_date.to_time.strftime('%B %e')%> to <%= trip.end_date.strftime('%B %e, %Y')%></p>
    </div>
    <%end%>
    <%end%>

</div>

<h4 class="text-title ">Previous Trips</h4>
<div class="d-flex flex-row justify-content-start align-items-center">
  <% @trips.each do |trip| %>
  <%if trip.start_date > Date.today %>
  <%= cl_image_tag trip.photos.first.key, height: 100, width: 100, class: "rounded-circle ml-5 mr-3"%>
    <div class="card-text">
      <h6><%= link_to "#{trip.name}", trip_path(trip), class: "text-reset"%></h6>
      <p><%= trip.start_date.to_time.strftime('%B %e')%> to <%= trip.end_date.strftime('%B %e, %Y')%></p>
    </div>
    <%end%>
    <%end%>
</div>

