<div class= 'container' style='list-style-type:none'>
  <h4><%= @trip.name %></h4>
  <h6>From <%= @trip.start_date.strftime("%b %e") %> to <%= @trip.end_date.strftime("%b %e, %Y") %> </h6>
  <br />
    <% @parts.each do |part|%>
      <h5> <%= part.name %> </h5>
        <div class= 'container'>
        <% part.part_dates_array.each do |date|%>
          <h6> <%= date.strftime("%A, %b %e") %> </h6>
            <% @activities.each do |act| %>
                <% if act.start_time.day == date.day %>
                    <div class= 'container'>
                      <span><b><%= act.start_time.strftime("%H:%M") %></b></span>  <span><%= act.activityable.name %></span>
                    </div>
                <% else "" %>
                <% end %>
            <% end %>
          <br />
          <% end %>
        </div>
    <% end %>
  </div>



<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  + Part
</button>

</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add New Part</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%=  render 'trips/partials/new_part_form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
