
<% content_for :meta_title, "#{@trip.name} is on Plan-et" %>
<% content_for :meta_description, @trip.description %>
<% content_for :meta_image, cl_image_path(@trip.photos.first) %>

<div class="show-container">
<div class="card-tripo">
   <%= cl_image_tag @trip.photos.first.key %>
  <div class="card-tripo-infos">
    <div>
      <h2><%= @trip.name %></h2>
      <h3>From <%= @trip.start_date.strftime("%b %e") %> to <%= @trip.end_date.strftime("%b %e, %Y") %></h3>
      <p> <%= @trip.description %></p>
      <% if @trip.user == current_user %>
       <%= link_to 'Edit trip',"" , type: "button", class: "btn btn-secondary", "data-toggle"=>"modal", "data-target"=> "#tripModal", "data-part-id" => @trip.id %>
      <% end %>
    </div>
  </div>
 </div>


<div class="page_container">

    <div class='trip_container' style='list-style-type:none'>

      <div class="accordion" id="accordionExample">
        <% card_index = 1 %>
        <% @parts.each do |part|%>

          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="d-flex flex-row justify-content-between align-items-center mb-0">
                <button id="part_accordion" class="btn btn-light" type="button" data-toggle="collapse" data-target=<%= "#collapse#{card_index}" %> aria-expanded="true" aria-controls="collapseOne" data-part-id = <%= part.id %>>
                  <h5><%= part.name %><h5>
                </button>
                <div class="tile_div">
                  <% if part.trip.user == current_user %>
                    <%= link_to 'Edit part',"" , type: "button", class: "btn btn-secondary", id: "edit_part_button", "data-toggle"=>"modal", "data-target"=> "#editPartModal", "data-part-id" => part.id, "data-trip-id" => part.trip.id %>
                    <%= link_to "",
                      part,
                      type: "button",
                      class: "btn btn-delete fas fa-trash",
                      method: :delete,
                      data: {confirm: "Deleting a Part will delete all Activities in it. \nAre you sure to delete this Part?"},
                      remote: true %>
                  <% end %>
                </div>
              </h5>
            </div>

            <div id=<%= "collapse#{card_index}" %> class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class=<%="card-body#{card_index}"%>>

                <% part.part_dates_array.each do |date|%>
                  <h6><%= date.strftime("%A, %b %e") %></h6>
                  <% activity_index = 1 %>
                  <% activity_card_index = date + activity_index %>
                  <% @activities.sort_by { |a| [a.start_time] }.each do |act| %>
                    <% if act.start_time.day == date.day %>
                      <div class='container'>
                        <div class="card-trip">

                          <% if act.activityable_type == "Meal"%>
                           <img src="<%= image_url('resto.jpg')%>" class= "rounded-circle m-1" alt=""  style="width:40px;height:40px;">
                          <% end %>

                          <% if act.activityable_type == "Other"%>
                           <img src="<%= image_url('flower.jpg')%>" class= "rounded-circle m-1" alt=""  style="width:40px;height:40px;" >
                          <% end %>

                          <% if act.activityable_type == "Accomodation"%>
                           <img src="<%= image_url('hotel.jpg')%>" class= "rounded-circle m-1" alt=""  style="width:40px;height:40px;">
                          <% end %>

                          <% if act.activityable_type == "Transportation"%>
                           <img src="<%= image_url('plane.jpg')%>" class= "rounded-circle m-1" alt=""  style="width:40px;height:40px;">
                          <% end %>

                          <% if act.activityable_type == "Attraction"%>
                           <img src="<%= image_url('louvre.jpg')%>" class= "rounded-circle m-1" alt=""  style="width:40px;height:40px;">
                          <% end %>




                          <div class="card-trip-infos">
                            <div>
                              <h1>
                              <% if act.activityable_type == "Meal"%>
                               <i class="fas fa-utensils"></i>
                              <% end %>

                               <% if act.activityable_type == "Restaurant"%>
                               <i class="fas fa-utensils"></i>
                              <% end %>

                              <% if act.activityable_type == "Other"%>
                               <i class="far fa-dot-circle"></i>
                              <% end %>

                              <% if act.activityable_type == "Accomodation"%>
                               <i class="fas fa-bed"></i>
                              <% end %>

                              <% if act.activityable_type == "Transportation"%>
                               <i class="fas fa-suitcase"></i>
                              <% end %>

                              <% if act.activityable_type == "Attraction"%>
                               <i class="fas fa-camera"></i>
                              <% end %>
                              <% if act.activityable_type == 'Transportation'%>
                                <%= act.activityable.transportation_type %> from <%= City.find(act.activityable.origin_city_id).name %> to <%= City.find(act.activityable.destination_city_id).name %>
                              <% elsif act.activityable_type == 'Accomodation'%>
                                <%= act.activityable.hotel.name %>
                              <% else %>
                                <%= act.activityable.name %>
                              <% end %>
                              </h1>



                                <div class="Row">
                                  <p>
                                      <% if act.notes == "" || act.notes.nil? %>
                                        <% %>
                                      <%else %>
                                        <span class="nobr" data-toggle="collapse" data-target=<%= "#notescollapse#{activity_card_index}" %> aria-expanded="false" aria-controls=<%= "notescollapse#{activity_card_index}"%>> ▶ </span>
                                      <% end %>
                                    <%= act.activityable_type %> -
                                    <b><%= act.start_time.strftime("%H:%M") %></b><b class="delete">
                                    <b class="delete"><%= link_to 'Edit',"Edit" , class: "edit_activity_link", id: "edit_activity_link", "data-toggle"=>"modal", "data-target"=> "#activityEditModal", "data-act-id" => act.id , "data-trip-id" => act.part.trip.id %></b>
                                    <%= "|" %>
                                    <%= link_to "Delete",

                                      act,
                                      method: :delete,
                                      data: {confirm: "Are you sure to delete this Activity?"},
                                      remote: true %></b>
                                  </p>
                                    <div id=<%= "notescollapse#{activity_card_index}" %> class="panel-collapse collapse" >
                                      <div class="card-notes">
                                        <%= act.notes %>
                                      </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <% activity_index += 1 %>
                      <% activity_card_index = date + activity_index %>
                    <% end %>
                  <% end %>
                  <% if part.trip.user == current_user %>
                    <div class='container'>
                      <%= link_to '+',"" , type: "button", id: "day-#{date}", class: "btn btn-circle-btn-gray mx-1 my-3 pt-2 plus-sign", "data-toggle"=>"modal", "data-target"=> "#activityModal", "data-part-id" => part.id, "data-date" => date %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <% card_index += 1 %>

        <% end %>

  </div>
    <% if @trip.user == current_user %>
      <button type="button" class="btn-secondary" data-toggle="modal" data-target="#partModal">+ Part</button>
    <%end%>



  </div>

  <div id="map"
         style="width: 100%; height: 700px; padding-top:15px;"
         data-markers="<%= @part_markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

</div>

<!-- New part modal -->
<div class="modal fade" id="partModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <%= render 'trips/partials/part_form' %>
    </div>
  </div>
</div>

<!-- Edit part modal -->
<div class="modal fade" id="editPartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <% if params[:part_id] %>
        <%= render 'trips/partials/edit_part_form_simple' %>
      <% end %>
    </div>
  </div>
</div>

<!-- Edit Activities Modal -->
<div class="modal fade" id="activityEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <% if params[:activity_id] %>
        <%= render 'trips/partials/edit_activity_form' %>
        <script>

        </script>
      <% end %>
    </div>
  </div>
</div>

<!-- Trip modal -->
<div class="modal fade" id="tripModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <%= render 'trips/partials/edit_trip_form' %>
    </div>
  </div>
</div>

<!--Modal: New Activity-->
<div class="modal fade" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <%= render 'trips/partials/add_activity_form' %>
  </div>
</div>
</div>
