<div class= 'container' style='list-style-type:none'>
  <h4><%= @trip.name %></h4>
  <h6>From <%= @trip.start_date.strftime("%b %e") %> to <%= @trip.end_date.strftime("%b %e, %Y") %> </h6>
  <br />
    <% @parts.each do |part|%>
      <h5> <%= part.name %> </h5>
        <div class= 'container'>
        <% part.part_dates_array.each do |date|%>
          <h6> <%= date.strftime("%A, %b %e") %> </h6>
            <% @activities.each do |act| %>
                <% if act.start_time.day == date.day %>
                    <div class= 'container'>
                      <span><b><%= act.start_time.strftime("%H:%M") %></b></span>  <span><%= act.activityable_type %></span>
                    </div>
                <% else "" %>
                <% end %>
            <% end %>
          <br />
          <% end %>
        </div>
    <% end %>
  </div>

  <div class= 'container' style='list-style-type:none'>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    +
  </button>
</div>

