
<% content_for :meta_title, "#{@trip.name} is on Plan-et" %>
<% content_for :meta_description, @trip.description %>
<% content_for :meta_image, cl_image_path(@trip.photos.first) %>

<div class="show-container">
<div class="card-tripo">
   <%= cl_image_tag @trip.photos.first.key %>
  <div class="card-tripo-infos">
    <div>
      <h2><%= @trip.name %></h2>
      <h3>From <%= @trip.start_date.strftime("%b %e") %> to <%= @trip.end_date.strftime("%b %e, %Y") %></h3>
      <p> <%= @trip.description %></p>
    </div>
    <%= cl_image_tag current_user.photo.key, :width => 40, :height => 40 , :crop => :fill, class:"card-trip-user avatar-bordered" %>
  </div>
</div>
</div>


<div class="page_container">

    <div class='trip_container' style='list-style-type:none'>

      <div class="accordion" id="accordionExample">
        <% card_index = 1 %>
        <% @trip.parts.each do |part|%>

          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-light" type="button" data-toggle="collapse" data-target=<%= "#collapse#{card_index}" %> aria-expanded="true" aria-controls="collapseOne">
                  <h5> <%= part.name %> </h5>
                </button>
              </h5>
            </div>

            <div id=<%= "collapse#{card_index}" %> class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">

                <% part.part_dates_array.each do |date|%>
                  <h6><%= date.strftime("%A, %b %e") %></h6>
                  <% @activities.each do |act| %>
                    <% if act.start_time.day == date.day %>

                      <div class='container'>
                        <div class="card-trip">

                              <% if act.activityable_type == "Restaurant"%>
                               <img src="<%= image_url('resto.jpg')%>" class= "rounded-circle m-1" alt=""  style="width:40px;height:40px;" >
                              <% end %>

                              <% if act.activityable_type == "Meal"%>
                               <img src="<%= image_url('resto.jpg')%>" class= "rounded-circle m-1" alt=""  style="width:40px;height:40px;" >
                              <% end %>

                              <% if act.activityable_type == "Other"%>
                               <img src="<%= image_url('flower.jpg')%>" class= "rounded-circle m-1" alt=""  style="width:40px;height:40px;" >
                              <% end %>

                              <% if act.activityable_type == "Accomodation"%>
                               <img src="<%= image_url('hotel.jpg')%>" class= "rounded-circle m-1" alt=""  style="width:40px;height:40px;">
                              <% end %>

                              <% if act.activityable_type == "Transportation"%>
                               <img src="<%= image_url('plane.jpg')%>" class= "rounded-circle m-1" alt=""  style="width:40px;height:40px;">
                              <% end %>

                              <% if act.activityable_type == "Attraction"%>
                               <img src="<%= image_url('louvre.jpg')%>" class= "rounded-circle m-1" alt=""  style="width:40px;height:40px;">
                              <% end %>




                          <div class="card-trip-infos">
                            <div>
                              <h1>
                              <% if act.activityable_type == "Meal"%>
                               <i class="fas fa-utensils"></i>
                              <% end %>

                               <% if act.activityable_type == "Restaurant"%>
                               <i class="fas fa-utensils"></i>
                              <% end %>

                              <% if act.activityable_type == "Other"%>
                               <i class="far fa-dot-circle"></i>
                              <% end %>

                              <% if act.activityable_type == "Accomodation"%>
                               <i class="fas fa-bed"></i>
                              <% end %>

                              <% if act.activityable_type == "Transportation"%>
                               <i class="fas fa-suitcase"></i>
                              <% end %>

                              <% if act.activityable_type == "Attraction"%>
                               <i class="fas fa-camera"></i>
                              <% end %>
                              <% if act.activityable_type == 'Transportation'%>
                                <%= act.activityable.transportation_type %> from <%= City.find(act.activityable.origin_city_id).name %> to <%= City.find(act.activityable.destination_city_id).name %>
                              <% elsif act.activityable_type == 'Accomodation'%>
                                <%= act.activityable.hotel.name %>
                              <% else %>
                                <%= act.activityable.name %>
                              <% end %>
                              </h1>
                              <p><%= act.activityable_type %> - <b><%= act.start_time.strftime("%H:%M") %></b><b class="delete"><%= link_to "Delete", act, method: :delete, remote: true %></b>  </p>

                            </div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                  <div class='container'>
                    <%= link_to '+',"" , type: "button", class: "btn btn-light btn-sm plus-sign", "data-toggle"=>"modal", "data-target"=> "#activityModal", "data-part-id" => part.id, "data-date" => date %>
                  </div>
                  <br/>
                <% end %>
              </div>
            </div>
          </div>
          <% card_index += 1 %>

        <% end %>

      </div>
    <button type="button" class="btn-secondary" data-toggle="modal" data-target="#partModal">+ Part</button>
  </div>

  <div id="map"
         style="width: 100%; height: 700px; padding-top:15px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

</div>

<!-- modal begins -->
<div class="modal fade" id="partModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <%= simple_form_for([@trip, @part_new], remote: true) do |f| %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">New Part</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= f.input :name, required: true %>
          <%= f.input :start_date, required: true %>
          <%= f.input :end_date, required: true %>
          <%= f.association :city, collection: City.all %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
          <%= f.button :submit, class: 'btn btn-primary' %>
        </div>
      <%end%>
    </div>
  </div>
</div>

<!--
  TODO: Form explanation:
  1. We need to pass the mandatory fields: PartID, Activity Type and dates for Activity
  2. To get the PartID we will add an eventListener in JS to the "+" buttons on each day.
    The eventListener will change the URL the form points to set the PartID. eg. /parts/2/activitiesn
  3. To get the ActivityType we will add an eventListener to the Tabs in the modal.
    The eventListener will change a hidden field value in the form to set the Activity Type.
    !! The type needs to match the ones in the ActivitiesController case statement.
  4. We will have the start_date and end_date input fields in all the different forms.
  5. We will have custom input fields for all the different activities
  6. The form MUST to do a POST request to the activities#create route.

  PS: For the form you could either use plain HTML or the Rails helper 👇
  https://guides.rubyonrails.org/form_helpers.html#dealing-with-basic-forms

  I'd advice you to use the helper cause it handles the Authenticity Token of the form.
  Read the Dealing with Basic Forms for more info on that.

-->

<!--Modal: Activity-->
<div class="modal fade" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>

      <!-- TODO: Your form will start here -->
      <!-- TODO: Add hidden fields for Activity type HERE -->
        <!--Modal cascading tabs-->
        <div class="modal-c-tabs">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#meal" role="tab"><i class="fas fa-utensils"></i>
                Meal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#attraction" role="tab"><i class="fas fa-camera"></i>
                Attraction</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#accomodation" role="tab"><i class="fas fa-bed"></i>
                Stay</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#other" role="tab"><i class="far fa-dot-circle"></i>
                Other</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#transportation" role="tab"><i class="fas fa-suitcase"></i>
                Transit</a>
            </li>
          </ul>

          <!-- Tab panels -->
          <div class="tab-content">

            <!--Meal-->
            <div class="tab-pane fade in show active" id="meal" role="tabpanel">
              <div class="modal-body">

                <%= form_with(url: "", method: "post", class: "activity_form") do %>
                  <div class='form group'>
                    <%= label_tag(:name, "Title:") %>
                    </label><%= text_field_tag :name, '', :class => "form-control" %>
                  </div>
                  <br>
                  <div class='form row'>
                    <div class='form-group col-md-6'>
                      <%= label_tag(:name, "Start Time:") %>
                      <%= time_field_tag :start_time, '', :class => "form-control" %>
                    </div>
                    <div class='form-group col-md-6'>
                      <%= label_tag(:end_time, "End Time:") %>
                      <%= time_field_tag :end_time, '', :class => "form-control" %>
                    </div>
                  </div>
                  <div class='form group'>
                    <%= label_tag(:restaurant, "Restaurant:") %>
                    <%= collection_select(:meal, :restaurant_id, Restaurant.all, :id, :name, {:option_selected => "Select a Restaurant"}, {:class => 'form-control'})%>
                  </div>
                  <br>
                  <div class='form group'>
                    <%= label_tag(:name, "Address:") %>
                    </label><%= text_field_tag :address, '', :class => "form-control" %>
                  </div>
                  <%= hidden_field_tag 'activity_type', "Meal" %>
                  <%= hidden_field_tag 'trip_id', @trip.id %>
                  <br>
                  <div class='form group float-right mb-4'>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Discard</button>
                    <%= submit_tag("Add Meal", class: 'submitActivity btn btn-secondary') %>
                  </div>
                  <br>
                <% end %>
              </div>
            </div>
            <!--/.Meal-->

            <!--Attraction -->
            <div class="tab-pane fade" id="attraction" role="tabpanel">
              <div class="modal-body">

                <%= form_with(url: "", method: "post", class: "activity_form") do %>
                  <div class='form group'>
                    <%= label_tag(:attraction, "Attraction:") %>
                    <%= collection_select(:attraction, :attraction_id, Attraction.all, :id, :name,  {:option_selected => "Select an Attraction"}, {:class => 'form-control'})%>
                  </div>
                  <br>
                  <div class='form row'>
                    <div class='form-group col-md-6'>
                      <%= label_tag(:name, "Start Time:") %>
                      <%= time_field_tag :start_time, '', :class => "form-control" %>
                    </div>
                    <div class='form-group col-md-6'>
                      <%= label_tag(:end_time, "End Time:") %>
                      <%= time_field_tag :end_time, '', :class => "form-control" %>
                    </div>
                  </div>
                  <%= hidden_field_tag 'activity_type', "Attraction" %>
                  <%= hidden_field_tag 'trip_id', @trip.id %>
                  <br>
                  <div class='form group float-right mb-4'>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Discard</button>
                    <%= submit_tag("Add Attraction", class: 'submitActivity btn btn-secondary') %>
                  </div>
                  <br>
                <% end %>
              </div>
            </div>
            <!--/.Attraction-->

            <!--Accomodation-->
            <div class="tab-pane fade" id="accomodation" role="tabpanel">
              <div class="modal-body">

                <!-- TODO: Mandatory start_date, end_date fields -->
                <!-- TODO: Custom Attraction fields fields -->

                <%= form_with(url: "", method: "post", class: "activity_form") do %>
                  <div class='form group'>
                    <%= label_tag(:hotel, "Hotel:") %>
                    <%= collection_select(:accomodation, :hotel_id, Hotel.all, :id, :name, {:option_selected => "Select a Hotel"}, {:class => 'form-control'})%>
                  </div>
                  <br>
                  <div class='form row'>
                    <div class='form-group col-md-6'>
                      <%= label_tag(:name, "Start Time:") %>
                      <%= time_field_tag :start_time, '', :class => "form-control" %>
                    </div>
                    <div class='form-group col-md-6'>
                      <%= label_tag(:end_time, "End Time:") %>
                      <%= time_field_tag :end_time, '', :class => "form-control" %>
                    </div>
                  </div>
                  <br>
                  <div class='form group'>
                    <%= label_tag(:name, "Address:") %>
                    </label><%= text_field_tag :address, '', :class => "form-control" %>
                  </div>
                  <%= hidden_field_tag 'activity_type', "Accomodation" %>
                  <%= hidden_field_tag 'trip_id', @trip.id %>
                  <br>
                  <div class='form group float-right mb-4'>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Discard</button>
                    <%= submit_tag("Add Accomodation", class: 'submitActivity btn btn-secondary') %>
                  </div>
                  <br>
                <% end %>
              </div>
            </div>
            <!--/.Accomodation-->

            <!--Other-->
            <div class="tab-pane fade" id="other" role="tabpanel">
              <div class="modal-body">
                <%= form_with(url: "", method: "post", class: "activity_form") do %>
                  <div class='form group'>
                    <%= label_tag(:name, "Title:") %>
                    </label><%= text_field_tag :name, '', :class => "form-control" %>
                  </div>
                  <br>
                  <div class='form row'>
                    <div class='form-group col-md-6'>
                      <%= label_tag(:name, "Start Time:") %>
                      <%= time_field_tag :start_time, '', :class => "form-control" %>
                    </div>
                    <div class='form-group col-md-6'>
                      <%= label_tag(:end_time, "End Time:") %>
                      <%= time_field_tag :end_time, '', :class => "form-control" %>
                    </div>
                  </div>
                  <div class='form group'>
                    <%= label_tag(:name, "Address:") %>
                    </label><%= text_field_tag :address, '', :class => "form-control" %>
                  </div>
                  <%= hidden_field_tag 'activity_type', "Other" %>
                  <%= hidden_field_tag 'trip_id', @trip.id %>
                  <br>
                  <div class='form group float-right mb-4'>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Discard</button>
                    <%= submit_tag("Add Activity", class: 'submitActivity btn btn-secondary') %>
                  </div>
                  <br>
                <% end %>
              </div>
            </div>
            <!--/.Other-->

            <!--Transit-->
            <div class="tab-pane fade" id="transportation" role="tabpanel">
              <div class="modal-body">
                <%= form_with(url: "", method: "post", class: "activity_form") do %>
                  <div class='form row'>
                    <div class='form-group col-md-6'>
                      <%= label_tag(:name, "From:") %>
                      <%= collection_select(:transportation, :origin_city_id, City.all, :id, :name, {:option_selected => "Select a City"}, {:class => 'form-control'})%>
                    </div>
                    <div class='form-group col-md-6'>
                      <%= label_tag(:end_time, "To:") %>
                      <%= collection_select(:transportation, :destination_city_id, City.all, :id, :name, {:option_selected => "Select a City"}, {:class => 'form-control'})%>                    </div>
                  </div>
                  <div class='form row'>
                    <div class='form-group col-md-6'>
                      <%= label_tag(:name, "Departure:") %>
                      <%= time_field_tag :start_time, '', :class => "form-control" %>
                    </div>
                    <div class='form-group col-md-6'>
                      <%= label_tag(:end_time, "Arrival:") %>
                      <%= time_field_tag :end_time, '', :class => "form-control" %>
                    </div>
                  </div>
                  <div class='form group'>
                    <%= label_tag(:name, "Transportation Type:") %>
                    </label><%= text_field_tag :transportation_type, '', :class => "form-control" %>
                  </div>
                  <%= hidden_field_tag 'activity_type', "Transportation" %>
                  <%= hidden_field_tag 'trip_id', @trip.id %>
                  <br>
                  <div class='form group float-right mb-4'>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Discard</button>
                    <%= submit_tag("Add Transit", class: 'submitActivity btn btn-secondary') %>
                  </div>
                  <br>
                <% end %>
              </div>
            </div>
            <!--/.Transit-->
          </div>
        </div>
        <!-- TODO: Your form must end here -->
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Login / Register Form-->


