<!--Content-->
<div class="modal-content">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>

    <div class="modal-c-tabs">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#meal" role="tab"><i class="fas fa-utensils"></i>
            Meal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#attraction" role="tab"><i class="fas fa-camera"></i>
            Attraction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#accomodation" role="tab"><i class="fas fa-bed"></i>
            Stay</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#other" role="tab"><i class="far fa-dot-circle"></i>
            Other</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#transportation" role="tab"><i class="fas fa-suitcase"></i>
            Transit</a>
        </li>
      </ul>

      <!-- Tab panels -->
      <div class="tab-content">

        <!--Meal-->
        <div class="tab-pane fade in show active" id="meal" role="tabpanel">
          <div class="modal-body">

            <%= form_with(url: "", method: "post", class: "activity_form", remote: true) do %>
              <div class='form group'>
                <%= label_tag(:name, "Title:") %>
                </label><%= text_field_tag :name, '', required: true, :class => "form-control" %>
              </div>
              <br>
              <div class='form row'>
                <div class='form-group col-md-6'>
                  <%= label_tag(:name, "Start Time:") %>
                  <%= time_field_tag :start_time, '', required: true, :class => "form-control" %>
                </div>
                <div class='form-group col-md-6'>
                  <%= label_tag(:end_time, "End Time:") %>
                  <%= time_field_tag :end_time, '', required: true, :class => "form-control" %>
                </div>
              </div>
              <div class='form group'>
                <%= label_tag(:restaurant, "Restaurant:") %>
                <div class="autocomplete" id="restaurants">
                  </label><%= text_field_tag :restaurant, '', required: true, :class => "form-control", :id => "query" %>
                  <div class="results"></div>
                </div>
              </div>
              <br>
              <div class='form group'>
                <%= label_tag(:name, "Address:") %>
                </label><%= text_field_tag :address, '', required: true, :class => "form-control", :id => "restaurant_address"%>
              </div>
              <div class='form group'>
                <%= label_tag(:name, "Notes:") %>
                </label><%= text_field_tag :notes, '', :class => "form-control" %>
              </div>
              <%= hidden_field_tag 'activity_type', "Meal" %>
              <%= hidden_field_tag 'trip_id', @trip.id %>
              <br>
              <div class='form group float-right mb-4'>
                <button type="button" class="btn btn-light" data-dismiss="modal">Discard</button>
                <%= submit_tag("Add Meal", class: 'submitActivity btn btn-primary') %>
              </div>
              <br>
            <% end %>
          </div>
        </div>
        <!--/.Meal-->

        <!--Attraction -->
        <div class="tab-pane fade" id="attraction" role="tabpanel">
          <div class="modal-body">

            <%= form_with(url: "", method: "post", class: "activity_form", remote: true) do %>
              <div class='form group'>
                <%= label_tag(:attraction, "Attraction:") %>
                <div class="autocomplete" id="attractions">
                  </label><%= text_field_tag :attraction, '', :class => "form-control", :id => "query" %>
                  <div class="results"></div>
                </div>
              </div>
              <br>
              <div class='form row'>
                <div class='form-group col-md-6'>
                  <%= label_tag(:name, "Start Time:") %>
                  <%= time_field_tag :start_time, '', :class => "form-control" %>
                </div>
                <div class='form-group col-md-6'>
                  <%= label_tag(:end_time, "End Time:") %>
                  <%= time_field_tag :end_time, '', :class => "form-control" %>
                </div>
              </div>
             <div class='form group'>
                <%= label_tag(:name, "Notes:") %>
                </label><%= text_field_tag :notes, '', :class => "form-control" %>
              </div>
              <%= hidden_field_tag 'activity_type', "Attraction" %>
              <%= hidden_field_tag 'trip_id', @trip.id %>
              <br>
              <div class='form group float-right mb-4'>
                <button type="button" class="btn btn-light" data-dismiss="modal">Discard</button>
                <%= submit_tag("Add Attraction", class: 'submitActivity btn btn-primary') %>
              </div>
              <br>
            <% end %>
          </div>
        </div>
        <!--/.Attraction-->

        <!--Accomodation-->
        <div class="tab-pane fade" id="accomodation" role="tabpanel">
          <div class="modal-body">
            <%= form_with(url: "", method: "post", class: "activity_form", remote: true) do %>
              <div class='form group'>
                <%= label_tag(:hotel, "Hotel:") %>
                <div class="autocomplete" id="hotels">
                  </label><%= text_field_tag :hotel, '', :class => "form-control", :id => "query" %>
                  <div class="results"></div>
                </div>
              </div>
              <br>
              <div class='form row'>
                <div class='form-group col-md-6'>
                  <%= label_tag(:name, "Start Time:") %>
                  <%= time_field_tag :start_time, '', :class => "form-control" %>
                </div>
                <div class='form-group col-md-6'>
                  <%= label_tag(:end_time, "End Time:") %>
                  <%= time_field_tag :end_time, '', :class => "form-control" %>
                </div>
              </div>
              <br>
              <div class='form group'>
                <%= label_tag(:name, "Address:") %>
                </label><%= text_field_tag :address, '', :class => "form-control", :id => "hotel_address" %>
              </div>
              <div class='form group'>
                <%= label_tag(:name, "Notes:") %>
                </label><%= text_field_tag :notes, '', :class => "form-control" %>
              </div>
              <%= hidden_field_tag 'activity_type', "Accomodation" %>
              <%= hidden_field_tag 'trip_id', @trip.id %>
              <br>
              <div class='form group float-right mb-4'>
                <button type="button" class="btn btn-light" data-dismiss="modal">Discard</button>
                <%= submit_tag("Add Accomodation", class: 'submitActivity btn btn-primary') %>
              </div>
              <br>
            <% end %>
          </div>
        </div>
        <!--/.Accomodation-->

        <!--Other-->
        <div class="tab-pane fade" id="other" role="tabpanel">
          <div class="modal-body">
            <%= form_with(url: "", method: "post", class: "activity_form", remote: true) do %>
              <div class='form group'>
                <%= label_tag(:name, "Title:") %>
                </label><%= text_field_tag :name, '', :class => "form-control" %>
              </div>
              <br>
              <div class='form row'>
                <div class='form-group col-md-6'>
                  <%= label_tag(:name, "Start Time:") %>
                  <%= time_field_tag :start_time, '', :class => "form-control" %>
                </div>
                <div class='form-group col-md-6'>
                  <%= label_tag(:end_time, "End Time:") %>
                  <%= time_field_tag :end_time, '', :class => "form-control" %>
                </div>
              </div>
              <div class='form group'>
                <%= label_tag(:name, "Address:") %>
                </label><%= text_field_tag :address, '', :class => "form-control" %>
              </div>
              <div class='form group'>
                <%= label_tag(:name, "Notes:") %>
                </label><%= text_field_tag :notes, '', :class => "form-control" %>
              </div>
              <%= hidden_field_tag 'activity_type', "Other" %>
              <%= hidden_field_tag 'trip_id', @trip.id %>
              <br>
              <div class='form group float-right mb-4'>
                <button type="button" class="btn btn-light" data-dismiss="modal">Discard</button>
                <%= submit_tag("Add Activity", class: 'submitActivity btn btn-primary') %>
              </div>
              <br>
            <% end %>
          </div>
        </div>
        <!--/.Other-->

        <!--Transit-->
        <div class="tab-pane fade" id="transportation" role="tabpanel">
          <div class="modal-body">
            <%= form_with(url: "", method: "post", class: "activity_form", remote: true) do %>
              <div class='form row'>
                <div class='form-group col-md-6'>
                  <%= label_tag(:name, "From:") %>
                  <div class="autocomplete" id="cities">
                    </label><%= text_field_tag :origin_city, '', :class => "form-control", :id => "query" %>
                    <div class="results"></div>
                  </div>
                </div>
                <div class='form-group col-md-6'>
                  <%= label_tag(:end_time, "To:") %>
                  <div class="autocomplete" id="cities">
                    </label><%= text_field_tag :destination_city, '', :class => "form-control", :id => "query" %>
                    <div class="results"></div>
                  </div>
                </div>
              </div>

              <div class='form row'>
                <div class='form-group col-md-6'>
                  <%= label_tag(:name, "Departure:") %>
                  <%= time_field_tag :start_time, '', :class => "form-control" %>
                </div>
                <div class='form-group col-md-6'>
                  <%= label_tag(:end_time, "Arrival:") %>
                  <%= time_field_tag :end_time, '', :class => "form-control" %>
                </div>
              </div>

              <div class='form group'>
                <%= label_tag(:name, "Transportation Type:") %>
                </label><%= text_field_tag :transportation_type, '', :class => "form-control" %>
              </div>

              <div class='form group'>
                <%= label_tag(:name, "Notes:") %>
                </label><%= text_field_tag :notes, '', :class => "form-control" %>
              </div>

              <%= hidden_field_tag 'activity_type', "Transportation" %>
              <%= hidden_field_tag 'trip_id', @trip.id %>
              <br>

              <div class='form group float-right mb-4'>
                <button type="button" class="btn btn-light" data-dismiss="modal">Discard</button>
                <%= submit_tag("Add Transit", class: 'submitActivity btn btn-primary') %>
              </div>
              <br>
            <% end %>
          </div>
        </div>
        <!--/.Transit-->
      </div>

    </div>
    <!-- TODO: Your form must end here -->
</div>
<!--/.Content-->
