<%= form_with(url: "", method: "post", class: "activity_form", remote: true) do %>
  <%= label_tag(:name, "Title:") %>
  <%= text_field_tag(:name) %>
  <br>
  <%= label_tag(:start_time, "Start Time:") %>
  <%= time_field_tag(:start_time) %>
  <br>
  <%= label_tag(:end_time, "End Time:") %>
  <%= time_field_tag(:end_time) %>
  <br>
  <%= label_tag(:restaurant, "Restaurant (optional):") %>
  <%= collection_select(:meal, :restaurant_id, Restaurant.all, :id, :name) %>
  <br>
  <%= label_tag(:address, "Address:") %>
  <%= text_field_tag(:address) %>

  <%= hidden_field_tag 'activity_type', "Meal" %>
  <%= hidden_field_tag 'trip_id', @trip.id %>
</div>
<div class="modal-footer">
<!-- TODO: You MUST have a type=submit button -->
<%= submit_tag("Submit", class: 'submitActivity') %>
<% end %>
