<%= simple_form_for([Part.find(params[:part_id])], method: :patch, :action => 'update', :controller => 'parts', remote: true, class: "edit_part_form") do |f| %>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle">Edit Part</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <%= f.input :name, required: true %>
    <%= f.input :start_date, as: :date, html5: true, input_html: { min: @trip.start_date.strftime('%F'), max: @trip.end_date.strftime('%F') } %>
    <%= f.input :end_date, as: :date, html5: true, input_html: { min: @trip.start_date.strftime('%F'), max: @trip.end_date.strftime('%F') } %>
    <div class="autocomplete">
      <%= f.input :city, input_html: { value: "#{Part.find(params[:part_id]).city.name}" }, class: "city-selection"%>
      <div class="results">
      </div>
    </div>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-light-2" data-dismiss="modal">Close</button>
    <%= f.button :submit, class: 'btn-light-2', id: "submit_part_edits"%>
  </div>

<%end%>
