<%= simple_form_for([@trip, @part_new], remote: true, data: { 'turbolinks-scroll': false }) do |f| %>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle">New Part</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <%= f.input :name, required: true %>
    <%= f.input :start_date, as: :date, html5: true, input_html: { min: @trip.start_date.strftime('%F'), max: @trip.end_date.strftime('%F') } %>
    <%= f.input :end_date, as: :date, html5: true, input_html: { min: @trip.start_date.strftime('%F'), max: @trip.end_date.strftime('%F') } %>
    <div class="autocomplete" id="cities">
      <%= f.input :city, id: "query" %>
      <div class="results"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<%end%>
