<div class="navbar sticky-top navbar-expand-sm navbar-light navbar-lewagon">

  <div>
    <%= image_tag(image_path('worldwide-locationcopy.png'), class: "navbar-logo")%>
    <%= link_to "Plan-et", root_path, class: "navbar-brand" %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "New Trip", new_trip_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My trips", trips_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">

          <!-- checks id the user has a provile photo. If not it display a generic image in the navbar -->
          <% if current_user.photo.attached? %>
            <%= cl_image_tag(
                            current_user.photo.key,
                            transformation: {width: 50, height: 50, gravity: "face", crop: "thumb"},
                            class: "dropdown-toggle avatar",
                            id: "navbarDropdown",
                            data: { toggle: "dropdown" },
                            'aria-haspopup': true,
                            'aria-expanded': false
                            ) %>
          <% else %>
            <%= image_tag(
                          image_path('user.png'),
                          class: "avatar dropdown-toggle",
                          id: "navbarDropdown",
                          data: { toggle: "dropdown" },
                          'aria-haspopup': true,
                          'aria-expanded': false
                          ) %>
          <% end %>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "💎", 'https://www.youtube.com/watch?v=AVHxS4spngc', target: :_blank, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li>
          <%= link_to "Sign-Up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
